.error {
  padding: 0 0.5rem;
}

.error h1,
.error h2,
.error p {
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
  color: rgb(0, 21, 138);
  cursor: default;
}

.error h1 {
  margin-top: 10vh;
  font-size: calc(25px + 0.5vw);
}

.error h2 {
  font-size: calc(20px + 0.5vw);
}

.error p {
  font-size: calc(16px + 0.5vw);
  font-weight: normal;
  color: black;
}
