.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  font-size: calc(12px + 0.5vw);
}

.searchbar {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.searchbar input {
  width: 60%;
  min-width: 250px;
  max-width: 600px;
  padding: 0.25rem;
  border: solid 2px rgb(0, 21, 138);
  font-size: calc(12px + 0.5vw);
}

.search-form button {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: solid 2px rgb(0, 21, 138);
  font-size: calc(11px + 0.5vw);
  font-weight: bolder;
  color: white;
  background-color: rgb(0, 21, 138);
  cursor: pointer;
}

.search-form .filters-button {
  background-color: white;
  color: rgb(0, 21, 138);
}

.search-form .buttons {
  display: flex;
  gap: 1rem;
}

.filter-container {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.search-form fieldset {
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  gap: 0.25rem;
}

.search-form fieldset legend {
  font-weight: bolder;
  margin-bottom: 0.25rem;
}

.search-form fieldset label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media screen and (min-width: 750px) {
  .search-form,
  .searchbar input,
  .search-form button,
  .filter-container {
    font-size: 16px;
  }
}
