.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: default;
}

.sign-up h1 {
  margin-top: min(5%, 1.5rem);
  font-size: calc(16px + 0.5vw);
  font-weight: bolder;
  text-decoration: underline;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  width: 95%;
  max-width: 300px;
  font-size: calc(12px + 0.5vw);
  background-color: white;
}

.sign-up form label {
  width: 80%;
  margin-bottom: 3%;
  font-weight: bolder;
  color: rgb(0, 21, 138);
  text-align: center;
}

.sign-up form input[name='email'] {
  margin-bottom: 5%;
}

.sign-up form ul {
  margin-bottom: 5%;
}

.sign-up form li {
  margin-bottom: 2%;
}

.sign-up form input {
  display: block;
  padding: 0.25rem;
  border: solid 2px rgb(0, 21, 138);
  margin: 1% 0 0 0;
  width: 100%;
  font-size: calc(12px + 0.5vw);
}

.validation-error {
  padding: 0.5rem 0;
  margin-bottom: 5%;
  font-weight: bolder;
  color: red;
}

.sign-up form button {
  width: 80%;
  padding: 0.25rem 0.5rem;
  border: solid 2px rgb(0, 21, 138);
  font-weight: bolder;
  font-size: calc(12px + 0.5vw);
  background-color: transparent;
  color: rgb(0, 21, 138);
  cursor: pointer;
}

.sign-up .sign-up-button {
  margin-bottom: 10%;
  color: white;
  background-color: rgb(0, 21, 138);
}

.sign-up form button:hover,
.sign-up-button:hover {
  background-color: rgb(205, 212, 255);
  border-color: rgb(205, 212, 255);
  color: rgb(0, 21, 138);
}

.sign-up span {
  margin-bottom: 5%;
  font-size: calc(12px + 0.5vw);
}

.sign-up .invalid {
  border-color: red;
  background-color: rgb(255, 246, 246);
}

@media screen and (min-width: 750px) {
  .sign-up h1 {
    font-size: 20px;
  }

  .sign-up form,
  .sign-up form span,
  .sign-up form button,
  .sign-up form input {
    font-size: 15px;
  }
}
