.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: default;
}

.sign-in h1 {
  margin-top: min(10%, 3rem);
  font-size: calc(16px + 0.5vw);
  font-weight: bolder;
  text-decoration: underline;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  font-size: calc(12px + 0.5vw);
  background-color: white;
}

.sign-in form label {
  width: fit-content;
  margin-bottom: 8%;
  font-weight: bolder;
  color: rgb(0, 21, 138);
}

.sign-in form input {
  display: block;
  padding: 0.25rem;
  border: solid 2px rgb(0, 21, 138);
  margin-top: 2%;
  font-size: calc(12px + 0.5vw);
}

.validation-error {
  margin-bottom: 5%;
  font-weight: bolder;
  color: red;
}

.sign-in form button {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 2px rgb(0, 21, 138);
  margin-bottom: 5%;
  font-size: calc(12px + 0.5vw);
  font-weight: bolder;
  color: rgb(0, 21, 138);
  background-color: transparent;
  cursor: pointer;
}

.sign-in .sign-in-button {
  margin-bottom: 10%;
  color: white;
  background-color: rgb(0, 21, 138);
}

.sign-in span {
  margin-bottom: 5%;
  font-size: calc(12px + 0.5vw);
}

@media screen and (min-width: 750px) {
  .sign-in h1 {
    font-size: 20px;
  }

  .sign-in form,
  .sign-in form span,
  .sign-in form button,
  .sign-in form input {
    font-size: 15px;
  }
}
